@font-face {
    font-family: 'Roboto Mono';
    src: url('../assets/fonts/robotomono.ttf');
}

.font-load {
    opacity: 0;
    height: 0;
}

.roboto-mono {
    font-family: 'Roboto Mono', Arial, sans-serif;
}

canvas {
    margin: 0 auto 120px;
}

.green {
  color: #1DD82E;
}

.white {
  color: #DADADA;
}

.orange {
  color: #DA331F;
}

.red {
  color: #FF1B00;
}

.yellow {
  color: #F7EA18;
}

.purple {
  color: #9F0EF7;
}

.blue {
  color: #2729DC;
}
